@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.app {
    /* DISABLE SELECTION */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */

    /* DISABLE BLUE HIGHLIGHT WHEN CLICK [FOR MOBILE CHROME] */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app:focus {
    outline: none !important;
}

.bg-1 {
    background-image: url("./images/hero-bg.png");
}

.bg-2 {
    background-image: url("./images/solution-bg.jpg");
}

/* Custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #0e1d34;
}

.scroll-parent {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-child {
    scroll-snap-align: center;
    height: 100vh;
}

.react-calendar-timeline {
    border-radius: 5px !important;
    overflow: hidden !important;
    touch-action: none;
}

.react-calendar-timeline .rct-header-root {
    background-color: #1e345f !important;
}

.shadow-1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
